<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.app.mylibrary">

    <!--刷新相关的声明-->
    <uses-sdk
        tools:overrideLibrary="com.github.czy1121.loadinglayout"/>

    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设备编号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>

